.header {
  background: #0b0e19;
  color: white;
  padding: 18px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 18px rgba(0, 234, 255, 0.25),
              0 0 25px rgba(194, 0, 255, 0.25);
  border-bottom: 1px solid #1f2937;
}

.header-title {
  font-size: 20px;
  font-weight: 600;
}

.logout-btn {
  padding: 8px 14px;
  background: linear-gradient(135deg, #ff3e6c, #b300ff);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.25s;
}

.logout-btn:hover {
  box-shadow: 0 0 12px rgba(255, 0, 128, 0.7),
              0 0 18px rgba(194, 0, 255, 0.7);
}
