.sidebar {
  width: 230px;
  background: #0a0f1f;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0 0 12px #00aaff;
}

.sidebar a {
  color: #9bdcff;
  text-decoration: none;
  font-size: 17px;
  transition: 0.2s;
}

.sidebar a:hover {
  color: #00aaff;
  text-shadow: 0 0 8px #00aaff;
}

